/*--------------------------------------
 верхние и нижние отступы для контейнера
--------------------------------------*/
.margin-content {
    margin-top: 40px;
    margin-bottom: 100px;
}
/*--------------------------------------
 визуализация блоков с уровнем сложности
--------------------------------------*/
.container a.card {
    text-decoration: none !important;
    color: inherit !important;
    border: 1px solid #5bc0de;
}
.container a.card:hover {
    box-shadow: 0 4px 8px 0 rgba(107, 107, 107, 0.2), 0 6px 20px 0 rgba(143, 143, 143, 0.19);
    border: 1px solid orange;
}
.container .card-header {

}
/*----------------------------
 дизайн левого меню в учебнике
----------------------------*/
.list-group > .active {
    background-color: #d9d9d9;
    border-color: #d2d2d2;
    color: #ce597e;
    border-left-width: 3px;
    border-left-color: #ce597e;
}


/*----------------------------
     дизайн главы учебника
----------------------------*/
a {
    text-decoration: none !important;
}
a.card-footer {
    border: none !important;
}
a.card-footer:hover {
    color: #ce597e;
    background-color: #f2f2f2;

}
a.card-header {
    border: none !important;
}
a.card-header:hover {
    color: #ce597e;
    background-color: #f2f2f2;
}
/*----------------------------
         дизайн тестов
----------------------------*/
.hover-effect-button:hover {
    color: #ce597e !important;
    background-color: #f2f2f2 !important;
}
.hover-effect-input:hover {
    background-color: #fee5f3 !important;
}

